<!DOCTYPE html>
<html>

<head>
    <title>grid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <h1>tile</h1>
        <input type="color" id="colorpicker" value="#0000ff">
    </div>
    <div class="main">
        <table cellpadding="0" cellspacing="0" border="0" id="root">
        </table>
    </div>

    <script src="{{url_for('static', filename='ts/index.js')}}"></script>
</body>

</html>